
body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f6f8;
}
.chart-container {
  width: 100%;
  max-width: 800px;   /* kawal lebar */
  height: 200px;      /* kecilkan tinggi */
  margin: 20 auto;     /* center */
}




